
* {
    box-sizing: border-box;
    position: relative;
    overflow-wrap: break-word;
    text-indent: 0;
    text-shadow: 0 0 6px #000; /* シャドウを追加 */

    ::selection {
        background-color: #ffffff85;
        /* 背景色 */
        color: #ffffff;
        /* 文字色 */
    }

    /* Firefox用 */
    ::-moz-selection {
        background-color: #ffffff7c;
        /* 背景色 */
        color: #ffffff;
        /* 文字色 */
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000000;
    color: #cccccc;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', 'Noto Sans JP', sans-serif, monospace;
    height: auto; /* 必要に応じて高さを調整 */
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}
h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: inline-block;
}

p {
    margin: 0;
    /* シャドウの例 */
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    margin: 0 5mm 0 0;
    color: #cccccc;
}

.gradient-text {
    text-transform: uppercase;
    text-shadow: none;
    background: linear-gradient(45deg, #ff7eb3, #ff758c, #ffab68, #ffd452, #ffffff); /* 明るい色を追加 */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #cccccc; /* フォールバック用の単一色 */
}


.h::before {
    content: "#";
    color: #898989;
    font-size: 1.5em;
    margin-right: 0.2em;
    /* テキストとの余白をつけたい場合 */
    margin-left: 0.2em;
    /* テキストとの余白をつけたい場合 */
    font-weight: lighter;
}




.q {
    padding: 10mm 10mm;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    border-right: solid 10mm #00000000;
}

.i {
    margin: 0mm 0 0 10mm;
    border-left: solid 1px #bbbbbb;
}

ul {
    list-style-type: none;
    margin: 0;
}


@supports (display: flex) {
    .flex {
        display: flex;
    }
}

.block {
    display: block;
}

.subtitle {
    padding: 3mm 0 0 3mm;
}

.indent {
    padding: 0 0 0 5mm;
    margin: 0 0 5mm 5mm;
    border-left: solid 1px #bbbbbb;
}

.box {
    transition: all 0.2s;
    border: solid 1px #ffffff00;
    margin: 5mm 5mm 0 0;
}


.box:hover {
    animation: outLine 0.5s ease forwards;
    /* アニメーションの適用 */
}

@keyframes outLine {
    10% {
        border: solid 1px #ffffffcc;
    }

    20% {
        border: solid 1px #ffffffc6;
    }

    100% {
        border: solid 1px #ffffff3e;
    }
}

.frame-paint {
    background-color: #37137100;
}


/* 基本のタグスタイル */
.tag {
    display: inline-block;
    background-color: #2e2e2e; /* デフォルト背景色 */
    color: #bbbbbb; /* デフォルト文字色 */
    padding: 0.2em 0.6em;
    border-radius: 0.3em;
    text-decoration: none;
    transition: all 0.4s;
    border: solid 0.1em #ffffff00; /* ボーダー */
    margin: 1mm 0 0 0; /* マージン */
}

/* サイズバリエーション */
.tag-mid {
    padding: 0.2em 0.6em;
}

.tag-lg {
    padding: 0.3em 0.8em;
}

.tag-sm {
    padding: 0em 0.2em;
}

/* 色のバリエーション */
.tag-gray {
    background-color: #6c757d;
    color: #ffffff;
}

.tag-gray-subtle {
    background-color: #343a40;
    color: #dcdcdc;
}

.tag-blue {
    background-color: #007bff;
    color: #ffffff;
}

.tag-blue-subtle {
    background-color: #004085;
    color: #b8daff;
}

.tag-purple {
    background-color: #6f42c1;
    color: #ffffff;
}

.tag-purple-subtle {
    background-color: #4b0082;
    color: #e4d8f7;
}

.tag-amber {
    background-color: #ffc107;
    color: #212529;
}

.tag-amber-subtle {
    background-color: #805b00;
    color: #ffe8a1;
}

.tag-red {
    background-color: #dc3545;
    color: #ffffff;
}

.tag-red-subtle {
    background-color: #8b0000;
    color: #ffcccb;
}

.tag-green {
    background-color: #28a745;
    color: #ffffff;
}

.tag-green-subtle {
    background-color: #155724;
    color: #d4edda;
}

.tag-teal {
    background-color: #20c997;
    color: #ffffff;
}

.tag-teal-subtle {
    background-color: #004d40;
    color: #b2dfdb;
}

.tag-inverted {
    background-color: #ffffff;
    color: #212529;
}



@supports (display: grid) {
    .tag:hover {
        border: solid 0.1em #ffffff; /* ボーダー */
    }
}


/* ボタンのスタイル */
.button {
    display: inline-block;
    background-color: #464646; /* ボタンの背景色 */
    color: #fff; /* テキスト色 */
    border: 1mm solid #ffffff7c; /* ボーダー色 */
    font-size: 1em; /* フォントサイズ */
    padding: 2mm 5mm; /* 内側余白 */
    border-radius: 0px; /* 角の丸み */
    text-decoration: none; /* テキスト装飾を削除 */
    cursor: pointer; /* カーソルをポインターに変更 */
    transition: all 0.4s; /* ホバー時のトランジション */
    margin: 2mm 2mm 0 0; /* 外側余白 */
}

.button:hover {
    background-color: #ff00e1; /* ホバー時の背景色 */
}
@supports (display: grid) {
    .button:hover {
        border: 1mm solid #ffffff; /* ホバー時のボーダー色 */
    }
}

/* 通常のリンクのスタイル (ボタン以外) */
a:not(.button):not(.tag) {
    text-decoration: none; /* テキスト装飾を削除 */
    color: #ff5bec; /* リンクの色 */
    position: relative; /* 擬似要素の位置調整に必要 */
    transition: color 0.2s; /* 色変更時のトランジション */
    display: inline-flex; /* フレキシブルな表示 */
    background-color: transparent; /* 背景を透明に */
    margin: 0; /* 外側余白をリセット */
    padding: 0; /* 内側余白をリセット */
}

a:hover:not(.button):not(.tag) {
    color: #ff00e1; /* ホバー時のリンク色 */
}

/* リンクの下線のアニメーション */
a:not(.button):not(.tag)::after {
    content: ""; /* 擬似要素の内容を空に設定 */
    position: absolute; /* 擬似要素を絶対配置 */
    width: 100%; /* 擬似要素の幅を親要素に合わせる */
    height: 0.2em; /* 擬似要素の高さ */
    background-color: #ff00e1; /* 下線の色 */
    bottom: 0; /* 擬似要素を下部に配置 */
    left: 0; /* 左端に配置 */
    transform: scaleX(0); /* 初期状態で下線を非表示 */
    transform-origin: bottom right; /* 拡大の基準点を右端に設定 */
    transition: transform 0.3s; /* アニメーションのトランジション */
}

a:hover:not(.button):not(.tag)::after {
    transform: scaleX(1); /* ホバー時に下線を表示 */
    transform-origin: bottom left; /* 拡大の基準点を左端に変更 */
}

.index {
    flex-direction: column;
    display: flex;
}

hr {
    margin: 5mm 0mm;
    color: #b3b3b3;
}

li {
    text-indent: -2em;
    padding-left: 2em;
}

.ll {
    width: 60mm;
}

b {
    color: #ffffff;
}

.stats {
    margin: 20px 0;
    color: #ffffff;
}

.pd {
    margin: 2mm;
}



@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120mm, 1fr));
        /* デフォルトは3列 */
        gap: 0;
        /* グリッドアイテム間のギャップ */
    }
    .button-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 60mm);
        /* デフォルトは3列 */
        gap: 0;
        /* グリッドアイテム間のギャップ */
    }
    .brock-m {
        display: inherit;
    }
    
    @media (max-width: 200mm) {
        .block-m {
            display: block;
        }
    
        .q {
            padding: 10mm 4mm;
        }
    }
    
    @media (max-width: 140mm) {
        .grid {
            grid-template-columns: repeat(auto-fill, minmax(80mm, 1fr));
        }
    
        h1 {
            width: 70mm;
        }
    
        .box {
            margin: 5mm 0 0 0;
        }
    
    }
    
    /* 行をまたぐクラス */
    .r2 {
        grid-row: span 2;
    }
    
    .r3 {
        grid-row: span 3;
    }
    
    .r4 {
        grid-row: span 4;
    }
    
    .r5 {
        grid-row: span 5;
    }
    
    .r6 {
        grid-row: span 6;
    }
    
    .r7 {
        grid-row: span 7;
    }
    
    .r8 {
        grid-row: span 8;
    }
    
    .r9 {
        grid-row: span 9;
    }
    
    .r10 {
        grid-row: span 10;
    }
    
    /* 列をまたぐクラス */
    .c2 {
        grid-column: span 2;
    }
    
    .c3 {
        grid-column: span 3;
    }
    
    .c4 {
        grid-column: span 4;
    }
    
    .c5 {
        grid-column: span 5;
    }
    
    .c6 {
        grid-column: span 6;
    }
    
    .c7 {
        grid-column: span 7;
    }
    
    .c8 {
        grid-column: span 8;
    }
    
    .c9 {
        grid-column: span 9;
    }
    
    .c10 {
        grid-column: span 10;
    }
    
    
}



.center {
    display: flex;
    justify-content: center;
}