:root {
    --S-ber-color: #656565;
    --S-ber-close-width: 10mm;
    --S-ber-open-width: 100mm;
    --S-ber-animation-time: 400ms;
    --S-ber-spin-spd: 360deg;
}

.S-ber {
    position: fixed;
    height: 100vh;
    width: var(--S-ber-open-width);
    background-color: var(--S-ber-color);
    z-index: 99999;
    transition: all var(--S-ber-animation-time);
    right: -100%;
    transform: translateX(calc(-100vw +  (var(--S-ber-open-width) - var(--S-ber-close-width))));
}

.loading-spinner {
position: absolute;
bottom: 0mm;
left: 0mm;
width: var(--S-ber-close-width);
height: 10mm;
border: 1.5mm solid #ffffff00;
border-top: 1.5mm solid #000000;
border-radius: 50%;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(var(--S-ber-spin-spd));
}
}

.no-grid-support {
    display: none;
    height: 0;
    position: static;
}